body{
    background-image: url(images/bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 690px;
}

#display-div{
    margin-top: 50px;
}

#spinner{
    display: none;
}