body{
    background-image: url(images/bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 690px;
}

#display-div{
    margin-top: 50px;
}

#spinner{
    display: none;
}

@media screen and (min-width : 320px ) {
    .search-bar{
        max-width: 80%;
    }
}
@media screen and (min-width:769px){
    .search-bar{
        max-width: 50%;
    }
}